{% extends 'layout.htm' %}

{% block content %}
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>404</h2>
              <p>Oops. Page Not Found. That page does not exist. Please try a different location or check your spelling for any url typo or mistake.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
        </div>
      </nav>
    </div>
{% endblock content %}